body {
    font-family:Arial, Helvetica, sans-serif;
    min-width: 800px;
    background-color: #333333;
}

h1 {
    font-size: 1.8em;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    color: #f5dc2a;
}

.head {
    margin-bottom: 15px;
}

.subTitle {
    font-size: 0.8em;
    font-weight: bold;
}

.usernamelink {
    color: #daaa1a;
    text-decoration: none;
}

#roomUserText {
    width: 100%;
    text-align: right;
}

#roomStats {
    color:#daaa1a;
    width: 100%;
    text-align: right;
}

#roomStats b {
    margin-right: 20px;
}

.splitchattable, .splitstatetable {
    color:#daaa1a;
    width: 100%;
}

.splitstatetable td {
    width: 50%;
}

.containerheader {
    text-align: center;
}

.chatcontainer, .giftcontainer, .eventcontainer {
    overflow-y: scroll;
    height: calc(100vh - 240px);
    word-wrap: break-word;
}

.eventcontainer {
    height: calc(100vh - 90px);
}

.chatcontainer {
    min-width: 400px;
    max-width: calc(100vw - 430px);
    color: #ffed63
}

.giftcontainer {
    min-width: 400px;
    color: #ffed63
}

.miniprofilepicture {
    height: 20px;
    width: 20px;
}

.gifticon {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.inputFields {
    color:#f5dc2a;
}

::-webkit-scrollbar {
    display: none;
}

input[type=text] {
    background-color: #333333;
    color:#daaa1a;
    border: 2px solid #daaa1a;
  }

input[type=button] {
    background-color: #333333;
    border: none;
    color:#daaa1a;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }